<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Title -->
   <title>{{ .meta.Title }}</title>

   <!-- Meta Description -->
   <meta name="description" content="{{ .meta.Description }}">

   <!-- Keywords (optional) -->
   <meta name="keywords" content="{{ .meta.Keywords }}">

   <!-- Author -->
   <meta name="author" content="{{ .meta.Author }}">

   <!-- Canonical URL -->
   <link rel="canonical" href="{{ .meta.Canonical }}">

   <!-- Open Graph Data -->
   <meta property="og:title" content="{{ .meta.OpenGraph.Title }}">
   <meta property="og:description" content="{{ .meta.OpenGraph.Description }}">
   <meta property="og:image" content="{{ .meta.OpenGraph.Image }}">
   <meta property="og:url" content="{{ .meta.OpenGraph.URL }}">
   <meta property="og:type" content="{{ .meta.OpenGraph.Type }}">

   <!-- Twitter Card Data -->
   <meta name="twitter:card" content="summary_large_image">
   <meta name="twitter:title" content="{{ .meta.TwitterCard.Title }}">
   <meta name="twitter:description" content="{{ .meta.TwitterCard.Description }}">
   <meta name="twitter:image" content="{{ .meta.TwitterCard.Image }}">
   <link rel="shortcut icon" href="\assets\favicon.ico" type="image/x-icon">
   <link rel="stylesheet" href="\assets\main.css" type="text/css">
   <link rel="stylesheet" id="hljs-theme"
      href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/styles/a11y-dark.min.css">
</head>

<body class="bg-bg text-text">
   {{template "partials/header" .}}
   {{embed}}

   <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/highlight.min.js"></script>

   <!-- and it's easy to individually load additional languages -->
   <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/languages/go.min.js"></script>

   <script src="\assets\main.js?v=1"></script>

   <script type="text/javascript">hljs.highlightAll();</script>
</body>

</html>